.Home {
  width: 100vw;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-section{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-section > img{
  width: 300px;
  height: 360px;
}

.product-section{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-products{
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.home-product{
  width: 45%;
  height: 50%;
  margin: 2px;
  background-color: green;
  border-style: solid;
  border-width: 1px;
}

.text{
  height: 200px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.text > img{
  height: 400px;
  width: 400px;
}

@media(min-width: 415px){
  .home-product{
    width: 200px;
  }
}

@media(min-width: 600px){
  .middle-section{
    width: 80%
  }
}

@media(min-width: 800px){
  .middle-section{
    width: 70%
  }

}

@media(min-width: 1000px){
  .middle-section{
    width: 60%
  }

}

@media(min-width: 1200px){
  .middle-section{
    width: 50%
  }

}
